In [49]:
## TYPE CONVERSION ASSIGNMENT

In [10]:
 ## Convert an integer to a floating-point number.

In [15]:
a = 22
b = float(a)

In [12]:
type(22)

int

In [17]:
b

22.0

In [18]:
type(b)

float

In [19]:
## Convert a float to an integer.

In [22]:
a = 22.4
b = int(a)

In [23]:
b

22

In [24]:
type(b)

int

In [25]:
##  Convert an integer to a string.

In [31]:
a = 33
b = "33"

In [32]:
b

'33'

In [35]:
type(b)

str

In [34]:
 ## Convert a list to a tuple

In [38]:
lst =  ['atul',1,2,3,"pwsklls"]
b = tuple(lst)

In [37]:
type(lst)

list

In [39]:
b

('atul', 1, 2, 3, 'pwsklls')

In [40]:
type(b)

tuple

In [41]:
## Convert a tuple to a list.

In [44]:
tup = ('atul', 1, 2, 3, 'pwsklls')
a = list(tup)

In [45]:
a

['atul', 1, 2, 3, 'pwsklls']

In [46]:
type(a)

list

In [47]:
## Convert a decimal number to binary.

In [48]:
a = 11
b = bin(a)
print(b)

0b1011

In [50]:
  ## Convert a non-zero number to boolean.

In [53]:
num = 22
j = bool(num)

In [54]:
j

True